<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229809699407-8vrehd21fk3lnpe901agv78t5ct0phku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229809699407-8vrehd21fk3lnpe901agv78t5ct0phku</string>
	<key>API_KEY</key>
	<string>AIzaSyCGh5iZCcFPm3gBIXxDThQpLw3o16vxnp0</string>
	<key>GCM_SENDER_ID</key>
	<string>229809699407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>efrei.projetmastercamp</string>
	<key>PROJECT_ID</key>
	<string>projet-mastercamp-393af</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-mastercamp-393af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229809699407:ios:84c00c0ff595c227a7883a</string>
</dict>
</plist>